.camera-icon {
	padding-left: 0px;
	margin-top: 20px;
}

.main-textarea {
	padding-right: 0px;
}

.thread-body {
	padding-left: 0px;
}

.thread-bar {
	font-weight: 400;
	font-size: 15px;
}

.post-button {
	margin-top: 35px;
	padding-left: 30px !important;
	padding-right: 30px !important;

}

.delete-button {
	margin-top: 35px;
	padding-left: 22px !important;
	padding-right: 22px !important;
}

hr {
	margin: 0px 0px 0px 0px;
	color: #CED4DA;
}

.reply-label {
	margin-top: 8px;
}

.icon-button {
	cursor: pointer;
}

.add-image-footer {
	padding-right: 0px;
}

.error-comment-text {
	color: red;
	font-weight: 500;
}

.thread-card {
	background-color: #F6F6F6;
	width: 800px;
}

.thread-card-body {
	padding-left: 0px;
}

.error-message {
	width: 800px;
}

.error-message-text {
	font-weight: 700;
}

.home-page-spacer {
	height: 55px;
}

.post-image {
	max-height: 300px;
	max-width: 600px;
}

.profile-link {
	color: inherit;
	text-decoration: none;
}

.profile-link:hover {
	color: inherit;
	text-decoration: underline;
}


/* React-Quill CSS */
.ql-editor {
	padding: 0px;
	padding-top: 3px;
}

.ql-editor.ql-blank::before{
	padding: 0px !important;
	margin: 0px;
	margin-left: -15px;
}

.ql-bubble .ql-tooltip {
	z-index: 1;
}


/* Post Reactions */
.reaction-icons {
padding-left: 6px;
padding-right: 6px;
}